.sprite {
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 20px;
}

.animation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  margin-top: 10px;
  font-size: 18px;
  color: #fff;
}